header, #menu { overflow-y: hidden; }
/* overflow-y: scroll; */

#home-container {
    background-image: url("../images/home.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

li, ul {
    list-style: none;
}

.no-padding {
    padding: 0;
}

.no-link {
    text-decoration: none;
    color: white;
}

.no-link:hover {
    color: white;
    text-decoration: none;
}

.center{
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.oh {
    overflow: hidden;
}

.link, .link:hover {
    text-decoration: none;
    color: white;
}

.center-me {
    margin: 0 auto;
}

.no_padding {
    padding: 0;
}

.opacity {                  /*Permet de remettre l'opacité sur des éléments avec le js*/
    opacity: 1 !important;
}

#moitie_2 {
    height: 50vh;
}

.intertitre {
    height: 20vh;
   }

#home_portrait {
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    min-width: 30vh;
    max-width: 30vh;
    min-height: 30vh;
    max-height: 30vh;
}

#initiales {
    height: 48vh;
    margin-top: 2vh;
}

#acroche {
    color: white;
    font-size: 7vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
}
/* L'animation de la 'photo logo' sur la pas d'acceuil */
.flip-card {
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    min-width: 30vh;
    max-width: 30vh;
    min-height: 30vh;
    max-height: 30vh;
    margin: 10vh 5vh 10vh 5vh;  /* haut | droit | bas | gauche */
    perspective: 400px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    height: 30vh; /* hauteur du parent */
    border-radius: 100%;
    overflow: hidden;
    display: flex;
}

.back-content {
    margin: auto;
}

.back-content p{
    font-size: 1.5vh;
}

#home_nom {
    font-weight: bolder;
    font-size: 2.5vh;
}

/*-----------------------------------------------------------------------*/

/* Style du bouton burger */

#burger {               /* Style du div principale */
    position: fixed;
    right: 2vh;
    top: 2vh;
    width: 7vh;
    height: 7vh;
    overflow: hidden;
    z-index: 7000;
    cursor: pointer;
}


.burger-line-wrap {             /* Style des lignes horizontales*/
    left: 2vh;
    width: 3vh;
    position: absolute;
    height: 0.1vh;
    transition: width 0.4s;
}

.burger-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.burger-line-dark {
    background: white;
}

.burger-line-wrap-0 {
    top: 4.5vh;
}

.burger-line-wrap-1 {
    top: 3.5vh;
}

.burger-line-wrap-2 {
    top: 2.5vh;
}


.burger-border, .menu-border, .zoom-border {                /* Style des bordures */
    box-sizing: border-box;
    position: absolute;
    opacity: 0.5;
}

#burger-border-top {
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: white;
}

#burger-border-bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: white;
}

#burger-border-left, #burger-border-right {
    top: 0;
    width: 1px;
    bottom: 0;
    background: white;
}

#burger-border-right {
    right: 0;
}


.burger-close-wrap {        /* Style de la croix */
    position: absolute;
    width: 0.3vh;
    height: 0.1vh;
    background: white;
}

#burger-close-wrap-0 {
    transform: rotate(45deg);
    top: 3.5vh;
    left: 2vh;
}

#burger-close-wrap-1 {
    transform: rotate(-45deg);
    right: 2vh;
    top: 3.5vh;
}
/*-----------------------------------------------------------------------*/

/* Animation pour les boutons de l'acceuil */

.home_button {
    text-align: center;
    width: fit-content;
    margin-bottom: 3vh;
    overflow: hidden;
    padding: 5px;
    cursor: pointer;
}

.home_button a {
    z-index: 1;
    padding: 10px;
    display: block;
    margin: 20px auto;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: black 0 0px 0px 2px inset;
}

a.button {
    color: white;
    box-shadow: white 0 0px 0px 2px inset;
    transition: box-shadow 1s cubic-bezier(0.390, 0.500, 0.150, 1.360), color 1s;
}

a#button1:hover {
    color: black;
    box-shadow: white 0 0px 0px 40px inset;
    transition: box-shadow 1s cubic-bezier(0.390, 0.500, 0.150, 1.360), color 1s;
}

a#button2:hover {
    color: black;
    box-shadow: white 0 80px 0px 2px inset;
    transition: box-shadow 1s cubic-bezier(0.390, 0.500, 0.150, 1.360), color 1s;
}

/* ------------------------------------------------------------------ */

/* Ligne transformé sur la gauche de la page d'acceuil avec info */

#h-intro-left-wrap {
    margin-left: 2vh;
    width: 100vh;
    font-size: calc(.42rem + .42vw);
    transform-origin: top left;
    transform: rotate(-90deg) translate3d(-100%,0,0);
}

#h-intro-left-left {
    position: absolute;
    top: 0;
    left: 6.5vh;
    color: white;
}

#h-intro-left-center {
    text-align: center;
    color: white;
}

#h-intro-left-right {
    position: absolute;
    top: 0;
    right: 6.5vh;
    color: white;
}

/* ------------------------------------------------------------------ */

/* Texte de description sur la page d'acceuil */

.description {
    color: white;
    height: 30vh;
    font-size: 1.5vh;
    margin-top: 3vh;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* Style du menu, caché dans un premier temps puis qui apparait sur toute la page*/

#menu {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    z-index: 4000;
    background: black;
    height: 0;
    transition: all 0.7s ease-out;
    color: #fff;
    overflow: hidden;
}

#menu.open {
    height: 100vh;
}

#center-menu {
    height: 70vh;
    padding: 0;
}

.verti-menu {
    height: 15vh;
    overflow: hidden;
}

.menu-border-top {
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: white;
    transition: all 0.5s 2.2s;
}

.menu-border-bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: white;
    transition: all 0.5s 1.2s;
}

.menu-border-left, .menu-border-right {
    top: 0;
    width: 1px;
    bottom: 0;
    background: white;
    transform: translateY(-70vh);
    transition: all 0.5s 1.7s;
}

.menu-border-right {
    right: 0;
}

.border-verti-menu {
    top: 0;
    width: 1px;
    bottom: 0;
    background: white;
    right: 0;
    opacity: 0.5;
    transition: all 0.5s 0.7s;
}

.verti-top{
    transform: translateY(-20vh);
}

.verti-bottom{
    transform: translateY(20vh);
}

.border-top-left{
    transform: translateX(100vh);
}

.border-top-right{
    transform: translateX(-100vh);
}

.border-bottom-left {
    transform: translateX(-100vh);
}

.border-bottom-right {
    transform: translateX(100vh);
}
/* Les règles suivnates sont ajoutées via JS pour animé le contenu du menu à son apparition */

.top-apparition {
    transform: translateY(0);
}

.middle-top-apparition {
    transform: translateY(0);
}

/* ------------------------------------------------------------------ */

/* Lesrègles suivantes concernent les items du menu */

.menu-item {
    height: 12.5vh;
    text-align: center;
    line-height: 12.5vh;
    font-size: 7vh;
    opacity: 0;
    transition: opacity 0.7s 2.7s;
    cursor: pointer;
}

#champ-item {
    height: 50vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.menu-item-visible {
    opacity: 0.8;
}

.anim-item {
    overflow: hidden;
    /*color: transparent;*/
    z-index: 4001;
    background-image: url("../images/text_back.jpg") ;             /*linear-gradient(to top, #162984, #0052a6, #0077b7, #0099bc, #00b9bc)*/
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position 1s;
    background-position: 50% -110%; /*background-position: 50% -100%;*/
    background-size: cover;
}

.anim-item:hover {
    overflow: hidden;
    /*color: transparent;*/
    z-index: 4001;
    background-image: url("../images/text_back.jpg") ;             /*linear-gradient(to top, #162984, #0052a6, #0077b7, #0099bc, #00b9bc)*/
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position 0.8s;
    background-position: 50% -50%;
    background-size: cover;
}

.underline-item {
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: white;
}

/* Ligne réseau du menu */

#ligne-reseau{
    color: white;
    opacity: 0;
    transition: opacity 0.7s 2.7s;
}

#linkedin {
    position: absolute;
    top: 2vh;
    left: 2vh;
    font-size: 3vh;
}

#github {
    position: absolute;
    top: 7vh;
    left: 2vh;
    font-size: 3vh;
}

#unsplash {
    position: absolute;
    top: 12.5vh;
    left: 2vh;
    height: 3vh;
    width:auto;
    /*background-image: url("../images/logo_unsplash.png");
    background-position: center;
    background-size: cover;*/
}

#unsplash-logo {
    height: 3vh;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* Style de la page réalisations, caché dans un premier temps puis qui apparait sur toute la page*/

#realisations {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    z-index: 2000;
    background: black;
    height: 100vh;
    transition: all 0.7s ease-out 0.7s;
    color: #fff;
    overflow: hidden;
}

#realisations.open {
    width: 100vw;
}

.realisations-lignes-vides {
    height: 15vh;
}

.espace-lat{
    height: 35vh;
    overflow: hidden;
}

.real-content{
    height: 70vh;
    overflow: hidden;
}

/* ------------------------------------------------------------------ */
/* Règles CSS pour l'animation et la création des bordures de la page */

.lat-border {                /* Style des bordures */
    box-sizing: border-box;
    position: absolute;
    opacity: 0.5;
    overflow: hidden;
}

.lat-border-bottom {
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background: white;
}

.lat-border-right {
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: white;
    transition: all 0.5s 2s;
}

.lat-border-left {
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: white;
    transition: all 0.5s 2s;
}

.lat-border-middle-bottom {
     right: 0;
     left: 0;
     bottom: 0;
     height: 1px;
     background: white;
     transition: all 0.5s 2.5s;
    transform: translateX(150vh);
 }

.lat-border-middle-top {
    right: 0;
    left: 0;
    top: 0;
    height: 1px;
    background: white;
    transition: all 0.5s 2.5s;
    transform: translateX(-150vh);
}

.lat-border-bottom-left {
    transform: translateX(-100vh);
    transition: all 0.5s 1.5s;
}

.lat-border-bottom-right {
    transform: translateX(100vh);
    transition: all 0.5s 1.5s;
}

.lat-border-left-top {
    transform: translateY(50vh);
}

.lat-border-left-bottom {
    transform: translateY(-50vh);
}

.lat-border-right-top {
    transform: translateY(50vh);
}

.lat-border-right-bottom {
    transform: translateY(-50vh);
}

.x-apparition {
    transform: translateX(0vh);
}

.y-apparition {
    transform: translateY(0vh);
}


/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* Style de la page photographies, caché dans un premier temps puis qui apparait sur toute la page*/

#photos {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    z-index: 1000;
    background: black;
    height: 100vh;
    transition: all 0.7s ease-out 0.7s;
    color: #fff;
    overflow: hidden;
}

#photos.open {
    width: 100vw;
}

/* ------------------------------------------------------------------ */
/* Style de la nav bar de la page photographie avec l'animation de ses éléments */

.nav-line {
    height: 11vh;
    line-height: 11vh;
    white-space: nowrap;
}

.nav-item {
    font-size: 4vh;
    cursor: pointer;
    display: inline-block;
    position: relative;
    opacity: 0.8;
}

.nav-item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 2vh;
    left: 0;
    background: linear-gradient(to right, #162984, #0052a6, #0077b7, #0099bc, #00b9bc);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ------------------------------------------------------------------ */
/* Style de la partie display selection */

.display-selection {
    height: 14vh;
}

/* Animation pour les boutons de la page photograhpies dans la partie display */

.display-container {
    margin-top: 3.5vh;
    margin-bottom: 2vh;
    padding: 3px;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.25s;
}

.display-container:hover {
    opacity: 0.8;
    transition: opacity 0.25s;
}

.display-container-active {
    margin-top: 3.5vh;
    margin-bottom: 2vh;
    padding: 3px;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.25s;
}

.display-item {
    font-size: 6vh;
    margin-right: 3px;
    margin-left: 3px;
}

.display-underline {
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: white;
    transition: all 0.25s;
}

.display-container:hover .display-underline{
    transform: rotate(0.25turn) translate(-13%, -50%) scale(0.30);
    opacity: 0.5;
    transition: all 0.25s;
}

.display-underline-active {
    transform: rotate(0.25turn) translate(-13%, -50%) scale(0.30);
    opacity: 0.5;
    transition: all 0.25s;
}

/* ------------------------------------------------------------------ */
/* Style de la partie où s'affiche les photos, sous les 2 formes en carrouselles ou en mosaïques */

.affichage-zone {
    height: 75vh;
}

/* Gère les classes CSS pour l'affichage du nom de la gallerie et son numéro */

.gallery-name {
    height: 70vh;
    line-height: 70vh;
    font-size: 4vh;
    text-align: center;
    z-index: 1003;
}

.gallery-number {
    opacity: 0.3;
    font-size: 7vh;
    position: absolute;
    top: -1vh;
    left: 6vw;
}

.gallery-tag {
    height: fit-content;
    position: relative;
}

/* Gère les classes CSS pour l'affichage des photos de la gallerie */

.gallerie {
    height: 70vh;
    line-height: 70vh;
    width: 19750px;
    transition: transform 1s, opacity 1s;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: auto;*/
}

.gallerie-img {
    position: relative;
    float: left;
    height: 55vh;
    width: 85vh;
    margin: 7.5vh 45px;
    opacity: 0.3;
}

/* Classe CSS utilisé pour la mise en valeur de la bonne image */
.focus {
    opacity: 1 !important;
}

/* Gère les classes CSS pour les commandes d'affichages de la gallerie */

.prev-control {
    left: -10vh;
    float: left;
}

.next-control {
    float: right;
    right: 0;
}

.control {
    position: relative;
    bottom: 4vh;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1002;
    transform: scale(0.5);
}

.control:hover {
    opacity: 0.8;
}

/* Gère les classes CSS pour le lien qui permet d'accéder à la collection Unsplash */

.unsplash-zone {
    line-height: 3vh;
    height: 3vh;
    position: relative;
    bottom: 3vh;
}

.link-unsplash {
    font-size: 2vh;
    cursor: pointer;
    display: inline-block;
    position: relative;
    opacity: 0.8;
}

.link-unsplash::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    left: 0;
    bottom: 0;
    background: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.link-unsplash:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Règles CSS pour changer de gallerie d'images en fonction du choix de l'utilisateur */

.hidden {
    display: none
}

/* Règles copier de la première gallerie mais avec les noms modifiés pour la seconde gallerie */

.gallerie-2 {
    height: 70vh;
    line-height: 70vh;
    width: 19750px;
    transition: transform 1s, opacity 1s;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: auto;*/
}

.gallerie-img-2 {
    position: relative;
    float: left;
    height: 55vh;
    width: 85vh;
    margin: 7.5vh 45px;
    opacity: 0.3;
}

/* Règles copier de la première gallerie mais avec les noms modifiés pour la troisième gallerie */

.gallerie-3 {
    height: 70vh;
    line-height: 70vh;
    width: 19750px;
    transition: transform 1s, opacity 1s;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: auto;*/
}

.gallerie-img-3 {
    position: relative;
    float: left;
    height: 55vh;
    width: 85vh;
    margin: 7.5vh 45px;
    opacity: 0.3;
}

/* Règles concernant l'affichage de la première mosaïque */

.mosaique {
    margin-top: 5vh;
    height: 65vh;
    /*line-height: 75vh;*/
}

.mosaique-img {
    height: auto;
    max-height: 32.5vh;
    max-width: 100%;
    margin-bottom: 4vh;
    cursor: zoom-in;
}

/* Règles pour le zoom sur une image dans la rubirque photo */

.zoom-img {
    height: 95vh;
    width: 75vw;
    z-index: 2002;
    cursor: zoom-out;
    position: fixed;
    top: 2.5vh;
    left: 12.5vw;
    overflow: hidden;
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.photo-back-low-opacity {
    opacity:0.3;
}

.zoom-border-top {
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: white;
    opacity: 0.7;
    transform: translateX(100vh);
    transition: all 5s 5s;
}

.zoom-border-bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: white;
    opacity: 0.7;
}

.zoom-border-top-apparition {
    transform: translateX(0vh);
}
